@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");


/* middle styling */
.jumbotron {
    margin-top: 45px;
    border: 0px;
    background-color:thistle;
    color: white;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
  }