/* work grid styling */
.work-grid {
    margin-top: 43px;
    margin-bottom: 10px;
  }
  
  #work {
    margin: 20px;
  }
  
  #work:hover {
    border: solid 5px darkseagreen;
  }

  .ul.list {
    list-style-type: none;
    display: inline-flex;
    padding: 0px;
    margin: 0px;
  }

  .modal {
    background-color: transparent;
  }
