@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* landing styling */
.hero {
  border: 0px;
}

.hero-image {
  width: 1400px;
  height: 700px;
  border-radius: 10px;
  position: relative;
}


  