@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* middle styling */
.jumbotron {
  background-color:thistle !important; 
  margin-top: 45px;
  height: 250px;
  border: 0px;
  color: white;
  padding-left: 50px;
  font-family: 'Poppins', sans-serif;
  }

.img {
  list-style-type: none;
  display: inline-flex;
  padding-left: 250px;
}

.html {
  padding: 20px;
}

.java {
  padding: 30px;
}

.js {
  padding: 15px;
}

.mysql {
  padding: 10px;
}

.post {
  padding: 20px;
}

.python {
  padding: 12px;
  padding-top: 25px;
}

.react {
  padding: 10px;
}