@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* navbar styling */
.navbar {
  font-family: 'Poppins', sans-serif; 
  background: none;
}

.list {
  list-style-type: none;
  display: inline-flex;
}

/* the about button */
.about.btn-primary  {
  float: right;
  background-color: transparent;
  color: #7B68EE;
  border-color: transparent;
  margin-top: 10px;
}

.about.btn-primary:hover {
  color:#7B68EE;
  background-color: transparent;
  border: 2px solid #7B68EE;
}

.about.btn-primary::after {
  background-color: transparent;
  color: #7B68EE;
  border-color: transparent;
}

/* the name  */
a.navbar-brand.name-logo:hover {
  color:#7B68EE;
  font-size: xx-large;
}

a.navbar-brand.name-logo{
  color: #7B68EE;
  font-size: xx-large;
  padding-left: 20px;
}
