@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* navbar styling */
.navbar {
  font-family: 'Poppins', sans-serif; 
}

a.navbar-brand.name-logo:hover {
  color:darkseagreen;
  font-size: xx-large;
}

a.navbar-brand.name-logo{
  color:darkseagreen;
  font-size: xx-large;
}